*{
    padding:0;
    margin:0;
}

body{
    background-color:#e0e0e0;
}

.quiz-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.quiz-app{
    background-color:#ffffff;
    height:600px;
    width:600px;
    border-radius:15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display:grid;
    align-content:space-around;
}

.quiz-header{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px 5px;
    color:rgb(0, 0, 0);
    border-bottom:3px solid white;
}

.quiz-answers{
    display:grid;
    justify-content: center;
    align-content:center;
    padding:10px 10px;
}

.quiz-answer{
    width:550px;
    height:40px;
    border-radius:8px;
    color:rgb(0, 0, 0);
    padding:10px 5px;
    display: flex;
    align-items: center;
    
}
.quiz-answer:hover{
    background-color:#d3e2fa;
}

.quiz-answer > input{
    margin:10px;
    width:12px;
    background-color: #d01515;
}

.button-container{
    display: flex;
    justify-content:space-around;
}

#button{
    padding:10px 10px;
    font-size:24px;
    background-color: #0e4aa9;
    color:white;
    border:none;
    font-weight:500;
}

#button:hover{
    background-color: #08357e;
}


.form-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.form-container > form{
    background-color:#ffffff;
    height:400px;
    width:600px;
    border-radius:15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display:grid;
    align-content:space-around;
    justify-content:center;
}

.input{
    width:550px;
    outline:none;
    border:1px solid black;
    height:50px;
    font-size:20px;
}

.submit{
    height:30px;
    width:100px;
}

.hide{
    display:none;
}