*{
    padding:0;
    margin:0;
}

body{
    background-color:#e0e0e0;
}

.quiz-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.quiz-app{
    background-color:#ffffff;
    height:650px;
    width:600px;
    border-radius:15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display:grid;
    align-content:space-around;
}

.quiz-body{
    display:grid;
    justify-content:center;
    height:200px;
}

.quiz-title{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px 5px;
    color:rgb(0, 0, 0);
    border-bottom:3px solid rgb(197, 194, 194);
}

.quiz-answers{
    display:grid;
    align-content:center;
    padding:2px 10px;
    width:500px;
}

.quiz-answer{
    height:10px;
    border-radius:8px;
    color:rgb(0, 0, 0);
    padding:10px 5px;
    display: flex;
    align-items: center;
    
}
.quiz-answer:hover{
    background-color:#d3e2fa;
}

.quiz-answer > input{
    margin:10px;
    width:12px;
    background-color: #d01515;
}

.button-container{
    display: flex;
    justify-content:space-around;
    margin:5px;
}
.button-container-2{
    display: flex;
    justify-content:center;
    margin:5px;
    align-items:center;
}

.button{
    background-color:white;
    border:1px solid black;
    color:black;
    font-family:'Actor',sans-serif;
    font-size: 24px;
    height:30px;
    width:80px;
    padding:10px 15px;
}

.button:hover{
    color:white;
    background-color:black;
}


.form-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.form-container > form{
    background-color:#ffffff;
    height:600px;
    width:1200px;
    border-radius:15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display:flex;
    justify-content:space-around;
}

.form-image img{
    width:500px;
    position:relative;
    bottom:-100px;
}

.form-text{
    display:grid;
    align-content:space-around;
    justify-content:center;
}

.form-text h3{
    font-family:'Actor',sans-serif;
    font-weight:300;
    font-size: 32px;
    color:blue;
}

label{
    font-family:'Actor',sans-serif;
    font-size: 24px;
}

#form-button{
    background-color:white;
    border:1px solid black;
    color:black;
    font-family:'Actor',sans-serif;
    font-size: 24px;
    width:150px;
    height:50px;
}

#form-button:hover{
    color:white;
    background-color:black;
}
.input{
    width:550px;
    outline:none;
    border:1px solid black;
    height:50px;
    font-size:20px;
}

.submit{
    background-color:white;
    border:1px solid black;
    color:black;
    font-family:'Actor',sans-serif;
    font-size: 24px;
    height:30px;
    width:100px;
}


.startbutton{
    background-color:white;
    border:1px solid black;
    color:black;
    font-family:'Actor',sans-serif;
    font-size: 24px;
    height:30px;
    width:100px;
}


.scoreboard-container{
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
}

.scoreboard-body{
    background-color:#ffffff;
    height:300px;
    width:1200px;
    border-radius:15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    font-family:'Actor',sans-serif;
    font-size: 24px;
}

.scoreboard-image img{
    width:400px;
}

.quiz-scoreboard > span{
    color:blue;
    justify-content:space-around;
    font-family:'Actor',sans-serif;
    font-size: 48px;
}

.hide{
    display:none;
}

@media(max-width:1024px){
    .form-container > form{
        height:600px;
        width:1000px;
    }
    .form-image img{
        width:350px;
    }
    .scoreboard-body{
        width:900px;
    }
}

@media(max-width:915px){
    .form-container > form{
        display:grid;
        height:800px;
        width:800px;
    }
    .form-image img{
        padding:10px;
        position:relative;
        bottom:-50px;
        right:-50px;
    }
}

@media(max-width:768px){
    .form-container > form{
        display:grid;
        margin-top:300px;
        height:800px;
        max-width:600px;
        width:100%;
    }
    .form-image img{
        padding:10px;
        position:relative;
        bottom:-50px;
        right:-50px;
    }
}

@media(max-width:555px){
    .input{
        width:100%;
        max-width:500px;
    }
}
@media(max-width:425px){
    .form-container > form{
        display:grid;
        margin-top:300px;
        height:800px;
        max-width:380px;
        width:100%;
    }
    .form-image img{
        padding:10px;
        position:relative;
        right:5px;
    }

    .form-text > h3{
        max-width:390px;
        width:100%;
        align-items:center;
        font-size:24px;
    }
    .input{
        width:100%;
        max-width:350px;
        outline:none;
        border:1px solid black;
        height:50px;
        font-size:20px;
    }
    .quiz-app{
        margin-top:200px;
        background-color:#ffffff;
        height:650px;
        max-width:400px;
        width:100%;
        border-radius:15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display:grid;
        align-content:space-around;
    }
    .quiz-title{
        width:400px;
    }

    .scoreboard-body{
        margin-top:200px;
        width:100%;
        height:600px;
        display:grid;
        max-width:400px;
    }
    .quiz-scoreboard{
        align-content:center;
    }
}