*{
    padding:0;
    margin:0;
}

body{
    background-color:#e0e0e0;
}

.quiz-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.quiz-app{
    background-color:#f9f9f9;
    height:600px;
    width:600px;
    border-radius:15px;
}

.quiz-header{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px 5px;
    color:white;
    border-bottom:3px solid white;
}

.quiz-answers{
    display:grid;
    justify-content: center;
    align-content:center;
    padding:10px 10px;
}

.quiz-answer{
    padding:10px 0px;
    width:550px;
    height:40px;
    border-radius:8px;
    background-color:#e0e0e0;
    color:#fff;
    margin:20px 0px;
}
